body{
    background-color: bisque;
}
#btn{
    background-color:cadetblue;
}
nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}
header {
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    z-index: 999; 
}
#home{
    padding-top: 90px;
}
